.error-message {
        color: red;
        font-size: 0.9em;
        margin-top: 5px;
}

.form-control:focus {
        border-color: #e28743;
        box-shadow: 0 0 0 0.2rem rgba(226, 135, 67, 0.25);
}

.btn {
        background-color: #17365f;
}

.btn:hover,
.btn:focus {
        background-color: #c5692c;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn:disabled {
        background-color: #ddd;
        cursor: not-allowed;
}