.payment-container {
    max-width: 900px;
    margin: 50px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image img {
    max-width: 100%;
    border-radius: 8px;
}

.form-section {
    padding: 20px;
}

.payment-title {
    font-size: 24px;
    font-weight: bold;
}

.loading-spinner {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid transparent;
    border-top: 2px solid #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#card-brand {
    margin-top: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    gap: 10;
    display: flex;
    justify-content: space-around;
    width: 80px;
    height: 60px;
    align-items: center;
}

.card-visa {
    width: 100px;  /* Adjust size as necessary */
    height: 50px;
    object-fit: contain;
    margin-right: 5px; /* Add some space between icons */
    margin-bottom: 10px;
}

.card-master {
    width: 60px;  /* Adjust size as necessary */
    height: 40px;
    object-fit: contain;
    margin-right: 5px; /* Add some space between icons */
    margin-bottom: 10px;
}