.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

body {
    background: url('./../../../Images/AdminHome.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    position: relative;
    z-index: 1;
}

.fixed-size {
    resize: none;
}