@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

body {
    background: url("./../../Images/userHome.jpg") no-repeat center center fixed;
    background-size: cover;
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    z-index: -1;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(226, 135, 67, 0.4);
    width: 500px;
}

.number-input,
.verification,
.result {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

input {
    font-size: 17px;
    outline: none;
    padding: 5px 10px;
}

button {
    font-size: 17px;
    padding: 7px;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #a56f0b;
    border-radius: 5px;
    width: 100%;
    color: #ffff;
    cursor: pointer;
}

button:hover {
    background-color: #a56f0b;
}

img {
    width: 50px;
}