body {
        /*background: url('https://joincake.imgix.net/clem-onojeghuo-pTeZKi29EYE-unsplash.jpg?auto=compress%2Cformat&fit=crop&crop=edges&w=640&q=50') no-repeat center center fixed; /* Replace with your image URL */
        background-size: cover;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    
    .card {
        background-color: #eae6ee; /* Custom card color */
        border-radius: 15px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        width: 100%;
        /*max-width: 500px; /* Max width for the card */
        margin: auto;
    }
    
    .form-label {
        color: #000000;
    }
    
    .btn-primary {
        background-color: #007bff;
        border: none;
    }
    
    .btn-primary:hover {
        background-color: #0056b3;
    }
    
    .tooltip-inner {
        background-color: #007bff;
        color: #fff;
    }
    