.privacy-content {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    line-height: 1.8;
    color: #555555;
}

.privacy-content h2 {
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #dd792d;
}

.privacy-content h5 {
    font-size: 1.25rem;
    color: #333333;
}

.privacy-content p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.container {
    padding-top: 30px;
    padding-bottom: 30px;
}
